# Web scraping/interfacing
# selenuim # This always fails on automated builds
webdriver-manager

# Data manipulation
pandas

# Knowledge representation and reasoning
# clingo # Install this on command line via 'conda install -c conda-forge clingo'