# Documentation requirements
sphinx 
sphinx-autodoc-typehints 
sphinx_rtd_theme 
sphinx-autodoc-napoleon-typehints 
sphinx-argparse
rst.linker
sphinx-autopackagesummary

# Project requirements
# Web scraping/interfacing
selenuim
webdriver-manager

# Data manipulation
pandas
