# Project requirements
# Web scraping/interfacing
selenuim # Install this first
webdriver-manager

# Data manipulation
pandas

# Documentation requirements
sphinx 
sphinx-autodoc-typehints 
sphinx_rtd_theme 
sphinx-autodoc-napoleon-typehints 
sphinx-argparse
rst.linker
sphinx-autopackagesummary
